body{
    font: 16pX;
    font-family:'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background: white;
}

.part{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav{
    margin: 0;
    padding: 0;
}

.button{
    height: 38px;
    background-color: #cb5c00;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

header{
    background-color: #122a37;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    min-height: 70px;
    border-bottom: #cb5c00 3px solid;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header li{
    float: right;
    display: inline;
    padding-right: 30px;
}

header #brand{
    float: left;
}

header #brand h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .home{
    color: #cb5c00;
    font-weight: bold;
}

header a:hover{
    color: #444444;
    font-weight: bold;
}

#bgimage{
    min-height: 400px;
    background: url(screen3.jpg) no-repeat;
    background-size:cover;
    width: 1350px;
    background-position:center;
    text-align: center;
    color: white;
}

#bgimage h1{
    padding-top: 100px;
}

#bgimage p{
font-size: 20px;
padding-top: 10px;
}

#newsletter{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background: #122a37;
    width:1250px;
}

#newsletter h1{
    float: left;
    padding-right: 300px;
}

#newsletter form{
    float: right;
    padding-top: 20px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 40px;
    width: 250px;
}

#newsletter input[type="submit"]{
    float: right;
}

footer{
    padding: 20px;
    color: #ffffff;
    background-color: #cb5c00;
    text-align: center;
}